@import "tailwindcss";
@plugin 'tailwindcss-animate';
@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;

  --font-heading:
    var(--font-heading), ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-body:
    var(--font-body), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-toggle: var(--toggle);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-tertiary: var(--tertiary);
  --color-tertiary-fg: var(--tertiary-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-accent-subtle: var(--accent-subtle);
  --color-accent-subtle-fg: var(--accent-subtle-fg);
  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-info: var(--info);
  --color-info-fg: var(--info-fg);
  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --radius-3xl: calc(var(--radius) + 7.5px);
  --radius-2xl: calc(var(--radius) + 5px);
  --radius-xl: calc(var(--radius) + 2.5px);
  --radius-lg: calc(var(--radius));
  --radius-md: calc(var(--radius) - 2.5px);
  --radius-sm: calc(var(--radius) - 5px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@layer base {
  :root {
    --light: oklch(0.985 0 0);
    --dark: oklch(0.141 0.005 285.823);
    --bg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --fg: oklch(0.141 0.005 285.823);
    --primary: oklch(0.546 0.245 262.881);
    --primary-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-fg: oklch(0.141 0.005 285.823);
    --tertiary: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --tertiary-fg: oklch(0.141 0.005 285.823);
    --overlay: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --overlay-fg: oklch(0.141 0.005 285.823);
    --muted: oklch(0.967 0.001 286.375);
    --muted-fg: oklch(0.552 0.016 285.938);
    --accent: oklch(0.546 0.245 262.881);
    --accent-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --accent-subtle: oklch(97.05% 0.01418224665972208 254.6041641690868);
    --accent-subtle-fg: 216.74 100% 40%;
    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --info: oklch(0.588 0.158 241.966);
    --info-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --warning: oklch(0.681 0.162 75.834);
    --warning-fg: oklch(0.987 0.026 102.212);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.546 0.245 262.881);
    --toggle: oklch(0.967 0.001 286.375);
    --radius: 0.5rem;
    --primary-chart: oklch(0.546 0.245 262.881);
    --secondary-chart: oklch(0.809 0.105 251.813);
    --tertiary-chart: oklch(0.623 0.214 259.815);
    --highlight-chart: oklch(0.882 0.059 254.128);
    --accent-chart: oklch(0.901 0.058 230.902);
  }

  .dark {
    --bg: oklch(0% 0 0);
    --fg: oklch(0.985 0 0);
    --primary: oklch(0.546 0.245 262.881);
    --primary-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --secondary: oklch(0.21 0.006 285.885);
    --secondary-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --tertiary: oklch(0.21 0.006 285.885);
    --tertiary-fg: 239.99 4% 96%;
    --accent: oklch(0.985 0 0);
    --accent-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --accent-subtle: oklch(23.19% 0.0222 269.09);
    --accent-subtle-fg: oklch(0.707 0.165 254.624);
    --overlay: oklch(0.21 0.006 285.885);
    --overlay-fg: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-fg: oklch(0.705 0.015 286.067);
    --info: oklch(0.588 0.158 241.966);
    --info-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(100% 3.5594404384177905e-8 106.37411429114086);
    --ring: oklch(0.546 0.245 262.881);
    --toggle: oklch(0.274 0.006 286.033);
    --border: oklch(0.274 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --primary-chart: oklch(0.546 0.245 262.881);
    --secondary-chart: oklch(0.809 0.105 251.813);
    --tertiary-chart: oklch(0.707 0.165 254.624);
    --highlight-chart: oklch(0.809 0.105 251.813);
    --accent-chart: oklch(0.882 0.059 254.128);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}
